@tailwind base;
@tailwind components;
@tailwind utilities;

.detail-modal {
  @apply fixed top-1/2 w-4/5 max-w-[30rem] min-h-[60%] left-1/2 -translate-x-1/2 -translate-y-1/2 bg-slate-100 z-50 shadow-xl rounded-xl transition duration-500;
}

/* .overlay {
  @apply fixed top-0 left-0 w-full h-full z-40 bg-black opacity-50 backdrop-blur-3xl transition-all duration-500;
} */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 40;
  transition: all 0.5s;
}

.detail-button {
  @apply w-36 text-sm p-2 px-6 rounded-lg font-medium shadow-md shadow-gray-300 bg-indigo-400 opacity-90 text-slate-100 hover:shadow-gray-500 hover:opacity-100 duration-300;
}

.search-button {
  @apply w-24 text-lg sm:w-40 ml-4 py-2 rounded-full shadow-lg shadow-gray-300 font-bold bg-indigo-400 text-slate-200 hover:shadow-gray-500 duration-300;
}

.close-modal-button {
  @apply text-gray-800 text-5xl bg-none absolute top-4 right-4;
}

.fav-button {
  @apply absolute left-1/2 -translate-x-1/2 bottom-7 text-lg text-gray-600 hover:text-gray-950 hover:font-bold;
}

.time-tag {
  @apply absolute bg-stone-500 text-stone-300 text-lg font-bold rounded-full m-3 py-1 px-3 opacity-80;
}

.modal-title {
  @apply absolute flex w-full h-16 left-1/2 px-4 -translate-x-1/2 -translate-y-full text-lg text-center justify-center items-center uppercase font-bold bg-slate-200 opacity-80;
}

.search-input {
  @apply bg-white/75 p-3 px-8 rounded-full outline-none w-60 sm:w-96 shadow-lg shadow-gray-300 focus:shadow-gray-400 duration-300;
}

.item-box {
  @apply flex w-[500px] h-[150px] overflow-hidden p-4 bg-white/75 shadow-lg gap-5 rounded-2xl border-2 border-white;
}

.nav-link {
  @apply text-lg mx-4 text-gray-700 hover:text-gray-900 hover:scale-110 duration-300;
}

.hide {
  visibility: hidden;
  opacity: 0;
}
